body{

    text-align: center;
   background-color: rgb(197, 157, 182);
}

div{
    position:absolute;
    text-align: center;
    background-color: rgb(35, 209, 209);
    width: 500px;
    height: 300px;
    padding: 20px;
    left: 30vw;
    top: 20vh;
    border-radius: 30px;
}

button{
    padding: 4px;
    margin: 2px;
    background-color: rgb(236, 205, 165);
    border-radius: 5px;

}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: 700;
}